<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
</head>
<body>
  <h2>Registro</h2>

  <form method="POST" action="/registro">
    <input type="text" name="username" placeholder="Usuario" required>
    <br><br>
    <input type="password" name="password" placeholder="Contraseña" required>
    <br><br>
    <button type="submit">Registrar</button>
  </form>

  <a href="/login">Ir al login</a>
</body>
</html>